In [4]:
import pandas as pd
import psycopg2
import sqlalchemy
from sqlalchemy import create_engine
import requests
from config import db_password

In [5]:
# Load data
protocol = "postgres"
user = "postgres"
location = "localhost"
port = "5433"
db = "video_game"

connection_string = f'{protocol}://{user}:{db_password}@{location}:{port}/{db}'
engine = create_engine(connection_string)

In [6]:
game_name_rating_df = pd.read_sql_table('game_name_rating',con=engine)
game_name_rating_df.head()

,name,na_sales,median_playtime,positive_ratings,negative_ratings,average_ratings,critic_score,price
0,Grand Theft Auto V,6.37,4834,329061,139308,9837,9.4,24.99
1,Grand Theft Auto V,6.06,4834,329061,139308,9837,9.7,24.99
2,Garry's Mod,NaN,1875,363721,16433,12422,NaN,6.99
3,Grand Theft Auto: San Andreas,NaN,249,26877,3243,807,9.5,9.99
4,Grand Theft Auto: Vice City,8.41,93,9817,819,209,9.6,5.99